




   .navbar{

    display: flex;
    gap: 5%;
    
}




#login-button{
    color: red;
    border-radius: 20px;
    height: 30px;
}
#joinnow-button{
    color: white;
    background-color: red;
    border-radius: 40px;
    height: 30px;
}

#Hero{
    color: red;

}
#homepage{
    color: red;
}




.footer{
    display: flex;
    gap: 5%;
}
.icon{
    width: 200px;
}

#navbar-header{
    display: flex;
    
    
    
}
#logo{
    width: 30px;
    height: 35px;
}
#skill-button{
    border-radius: 20px;
    height: 30px   
}
#explore-button{
    color: white;
    background-color: red;
    border-radius: 40px;
    height: 30px;    
}
#landing-content{
    color: red;
}
#landing-page-content{
    font-size: x-large;

}
#subscription{
    display: flex;
    gap: 1%;
}

#tick-icon{
    width: 40px;
}
.landing-page-content{
    display: flex;
    gap: 10%;
}
#landing-page-image{
    object-fit: cover;
    width: 300px;/
}

 











@media screen and (min-width: 365px) and(max-width:667px){
    .navbar{

        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    
        
    }
    #landing-page-content{
        font-size: smaller;
    
    }
    .landing-page-content{
        display: flex;
        flex-wrap: wrap;
        gap: 0%;
    }
    



    
}

.landing-page-content{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}


.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}
#landing-page-content{
    font-size: smaller;

}



.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}

.footer{
    display: flex;
    flex-wrap: wrap;
}



@media only screen and (min-width:400px) and ( max-width: 600px){

    .navbar{

        display: flex;
        flex-wrap: wrap;
        gap: 0;
    
        
    }
    #landing-page-content{
        font-size: smaller;
    
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    

}
.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}



    

.footer{
    display: flex;
    flex-wrap: wrap;
}
#landing-page-content{
    font-size: smaller;

}


@media only screen and (min-width:600px) and ( max-width: 800px){


    .navbar{

        display: flex;
        flex-wrap: wrap;
        gap: 0;
    
        
    }
    #landing-page-content{
        font-size: smaller;
    
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    

}
  

.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}



    

.footer{
    display: flex;
    flex-wrap: wrap;
}
#landing-page-content{
    font-size: smaller;

}


@media only screen and (min-width:800px) and ( max-width: 1000px){


    .navbar{

        display: flex;
        flex-wrap: wrap;
        gap: 0;
    
        
    }
    #landing-page-content{
        font-size: smaller;
    
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    

}
  

.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}



    

.footer{
    display: flex;
    flex-wrap: wrap;
}
#landing-page-content{
    font-size: smaller;

}
 



@media only screen and (min-width:1000px) and ( max-width: 1200px){


    .navbar{

        display: flex;
        flex-wrap: wrap;
        gap: 0;
    
        
    }
    #landing-page-content{
        font-size: smaller;
    
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    

}
  

.navbar{

    display: flex;
    flex-wrap: wrap;
    gap: 5%;

    
}



    

.footer{
    display: flex;
    flex-wrap: wrap;
}
#landing-page-content{
    font-size: smaller;

}


