#navbar{
    display: flex;
    gap: 10%;
}
#navbar2{
    display: flex;
    gap: 5%;
}
#Hero{
    color: pink;
    
}
#button2{
    color: white;
    background-color: pink;
}
#button1{
    color: pink;
}
#home{
    color: pink;
}
#page1{
    color: blue;
}
#buttons{
    display: flex;
}
#button3{
    color: white;
    background-color: pink;
}
#page2{
    display: flex;
    gap: 15%;
}
#page4{
    
   display: flex; 
}
#footer{
    display: flex;
}
#icon1{
    display: flex;
}
#icons{
     height: 40%;

    gap: 40%;
}
#image1{
    display: flex;
    gap: 20%;
}










@media screen and (min-width: 375px) and(max-width:667px){

    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 414px) and(max-width:896px){
 
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 390px) and(max-width:844px){
   
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 393px) and(max-width:851px){
   
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 360px) and(max-width:740px){
   
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 412px) and(max-width:915px){
   
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 820px) and(max-width:1180px){
   
    #footer{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
    }
    #image1{
        display: flex;
        flex-wrap: wrap;
    }
    #navbar2{
        display: flex;
        flex-wrap: wrap;
        
    }
    #icon1{
        display: flex;
        flex-wrap: wrap;
    }

}



#navbar{
    display: flex;
    flex-wrap: wrap;
}

#image1{
    display: flex;
    flex-wrap: wrap;
}

#footer{
    display: flex;
    flex-wrap: wrap;
}